<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    	<context:component-scan base-package="com.werun.surveypark.listener,com.werun.surveypark.dao.impl,com.werun.surveypark.service.impl,com.werun.surveypark.struts2.action"></context:component-scan>
        
        <context:property-placeholder location="classpath:spring/jdbc.properties"/>
        
        
        <bean name="dataSourse_main" class="com.mchange.v2.c3p0.ComboPooledDataSource"> 
        	<property name="driverClass" value="${jdbc.driverClass}"/>
        	<property name="jdbcUrl" value="${jdbc.url}"/>
        	<property name="user" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
			<property name="maxPoolSize" value="${c3p0.pool.size.max}" />
			<property name="minPoolSize" value="${c3p0.pool.size.min}" />
			<property name="initialPoolSize" value="${c3p0.pool.size.ini}" />
			<property name="acquireIncrement" value="${c3p0.pool.size.increment}" />
        </bean>    
        
        <bean name="dataSourse_1" parent="dataSourse_main"> 
        	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/surveypark1"/>
        </bean>  
        
        <bean id="dataSource_router" class="com.werun.surveypark.datasourse.SurveyparkDataSourceRouter">
        	<property name="targetDataSources">
        		<map>
        			<entry key="odd" value-ref="dataSourse_main"></entry>
        			<entry key="even" value-ref="dataSourse_1"></entry>
        		</map>
        	</property>
        	<property name="defaultTargetDataSource" ref="dataSourse_main"></property>
        </bean> 
        
        <bean name="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        	<property name="configLocation" value="classpath:hibernate/hibernate.cfg.xml"/>
        	<property name="dataSource" ref="dataSourse_main"/>    
        	<property name="mappingDirectoryLocations">
        		<list>
        			<value>classpath:com/werun/surveypark/domain</value>
        		</list>
        	</property>
        </bean> 
        
        <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        	<property name="sessionFactory" ref="sessionFactory"/>
        </bean>
        
        <tx:advice id="txAdvice" transaction-manager="transactionManager">
        	<tx:attributes>
        		<tx:method name="save*" propagation="REQUIRED" isolation="DEFAULT" />
				<tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT" />
				<tx:method name="delete*" propagation="REQUIRED" isolation="DEFAULT" />
				<tx:method name="batch*" propagation="REQUIRED" isolation="DEFAULT" />
				<tx:method name="new*" propagation="REQUIRED" isolation="DEFAULT" />
				
				<tx:method name="get*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
				<tx:method name="load*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
				<tx:method name="find*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
				
				<tx:method name="*" propagation="REQUIRED" isolation="DEFAULT" />
        	</tx:attributes>
        </tx:advice>
        
        <bean id="logger" class="com.werun.surveypark.aspect.Logger">
        	<property name="logService" ref="logService"></property>
        </bean>
        
        <aop:config>
        	<aop:pointcut expression="execution(* *..*Service.*(..))" id="txManager"/>
        	<aop:pointcut expression="(execution(* *..*Service.save*(..))
									or execution(* *..*Service.update*(..))
									or execution(* *..*Service.delete*(..))
									or execution(* *..*Service.batch*(..))
									or execution(* *..*Service.new*(..))) and !bean(logService)" id="loggerPointcut"/>
        	<aop:advisor advice-ref="txAdvice" pointcut-ref="txManager" />
        	<aop:aspect id="loggerAspect" ref="logger" >
        		<aop:around method="record" pointcut-ref="loggerPointcut"/>
        	</aop:aspect>
        </aop:config>
        
             
</beans>